<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Formulários e Editor de Texto
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="#">Formulários e Editor de Texto</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
   <script src='https://cdn.tiny.cloud/1/jd77dwmzit5gyrxywzaz3saz0oxrw8wxbkywpv4gem8ry9ai/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
   <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>
  <div class="row">
   <div class="col-md-12">
    <div class="box">
            <div class="box-header">
              <h3 class="box-title">Editor de Texto TinyMCE
              </h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
              <form>
                <textarea class="textarea" id="mytextarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </form>
            </div>
          </div>
  </div>
</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->