<li><a href="/categories/1">Android</a></li><li><a href="/categories/2">Apple</a></li><li><a href="/categories/3">Motorola</a></li><li><a href="/categories/9">Nokia</a></li><li><a href="/categories/4">Samsung</a></li><li><a href="/categories/10">Xiaomi</a></li>