    <footer id="footer">
        <div class="container">
            <div class="row text-center">
                <div class="footer-content">
                    <div class="wow animated fadeInDown">
                        <p>newsletter signup</p>
                        <p>Get Cool Stuff! We hate spam!</p>
                    </div>
                    <form action="#" method="post" class="subscribe-form wow animated fadeInUp">
                        <div class="input-field">
                            <input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
                            <button type="submit" class="submit-icon">
                                <i class="fa fa-paper-plane fa-lg"></i>
                            </button>
                        </div>
                    </form>
                    <div class="footer-social">
                        <ul>
                            <li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
                            <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                            </li>
                            <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a>
                            </li>
                            <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a>
                            </li>
                            <li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a>
                            </li>
                        </ul>
                    </div>

                    <p>Copyright &copy; 2014-2015 Design and Developed By<a href="http://www.themefisher.com">Themefisher</a> </p>
                </div>
            </div>
        </div>
        
    </footer>

    <!-- Essential jQuery Plugins
        ================================================== -->
    <!-- Main jQuery -->
    <script src="/res/bluefree/js/jquery-1.11.1.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="/res/bluefree/js/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="/res/bluefree/js/jquery.singlePageNav.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="/res/bluefree/js/jquery.fancybox.pack.js"></script>
    <!-- Google Map API -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Owl Carousel -->
    <script src="/res/bluefree/js/owl.carousel.min.js"></script>
    <!-- jquery easing -->
    <script src="/res/bluefree/js/jquery.easing.min.js"></script>
    <!-- Fullscreen slider -->
    <script src="/res/bluefree/js/jquery.slitslider.js"></script>
    <script src="/res/bluefree/js/jquery.ba-cond.min.js"></script>
    <!-- onscroll animation -->
    <script src="/res/bluefree/js/wow.min.js"></script>
    <!-- Custom Functions -->
    <script src="/res/bluefree/js/main.js"></script>
</body>

</html>