
<main class="site-content" role="main">

		<!--
        Home Slider
        ==================================== -->

        <section id="home-slider">
        	<div id="slider" class="sl-slider-wrapper">

        		<div class="sl-slider">

        			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25"
        			data-slice1-scale="2" data-slice2-scale="2">

        			<div class="bg-img bg-img-1"></div>

        			<div class="slide-caption">
        				<div class="caption-content">
        					<h2 class="animated fadeInDown">BLUE Onepage HTML5 Template</h2>
        					<span class="animated fadeInDown">Clean and Professional one page Template</span>
        					<a href="#" class="btn btn-blue btn-effect">Join US</a>
        				</div>
        			</div>

        		</div>

        		<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15"
        		data-slice1-scale="1.5" data-slice2-scale="1.5">

        		<div class="bg-img bg-img-2"></div>
        		<div class="slide-caption">
        			<div class="caption-content">
        				<h2>BLUE Onepage HTML5 Template</h2>
        				<span>Clean and Professional one page Template</span>
        				<a href="#" class="btn btn-blue btn-effect">Join US</a>
        			</div>
        		</div>

        	</div>

        	<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3"
        	data-slice1-scale="2" data-slice2-scale="1">

        	<div class="bg-img bg-img-3"></div>
        	<div class="slide-caption">
        		<div class="caption-content">
        			<h2>BLUE Onepage HTML5 Template</h2>
        			<span>Clean and Professional one page Template</span>
        			<a href="#" class="btn btn-blue btn-effect">Join US</a>
        		</div>
        	</div>

        </div>

    </div><!-- /sl-slider -->

				<!-- 
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
            -->

            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
            	<a href="javascript:;" class="sl-prev">
            		<i class="fa fa-angle-left fa-3x"></i>
            	</a>
            	<a href="javascript:;" class="sl-next">
            		<i class="fa fa-angle-right fa-3x"></i>
            	</a>
            </nav>


            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
            	<span class="nav-dot-current"></span>
            	<span></span>
            	<span></span>
            </nav>

        </div><!-- /slider-wrapper -->
    </section>

		<!--
        End Home SliderEnd
        ==================================== -->

        <!-- about section -->
        <section id="about">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-4 wow animated fadeInLeft">
        				<div class="recent-works">
        					<h3>Recent Works</h3>
        					<div id="works">
        						<div class="work-item">
        							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        								et dolore magna aliqua. <br> <br> There are many variations of passages of Lorem Ipsum available,
        								but the majority have suffered alteration in some form, by injected humour, or randomised words
        							which don't look even slightly believable.</p>
        						</div>
        						<div class="work-item">
        							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        								et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but
        								the majority have suffered alteration in some form, by injected humour, or randomised words which
        							don't look even slightly believable.</p>
        						</div>
        						<div class="work-item">
        							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        								et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but
        								the majority have suffered alteration in some form, by injected humour, or randomised words which
        							don't look even slightly believable.</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
        				<div class="welcome-block">
        					<h3>Welcome To Our Site</h3>
        					<div class="message-body">
        						<img src="/res/bluefree/img/member-1.jpg" class="pull-left" alt="member">
        						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        							et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        							aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        						dolore eu fugiat nulla pariatur. </p>
        					</div>
        					<a href="#" class="btn btn-border btn-effect pull-right">Read More</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!-- end about section -->


        <!-- Service section -->
        <section id="service">
        	<div class="container">
        		<div class="row">

        			<div class="sec-title text-center">
        				<h2 class="wow animated bounceInLeft">Service</h2>
        				<p class="wow animated bounceInRight">The Key Features of our Job</p>
        			</div>

        			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        				<div class="service-item">
        					<div class="service-icon">
        						<i class="fa fa-home fa-3x"></i>
        					</div>
        					<h3>Support</h3>
        					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        				</div>
        			</div>

        			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        				<div class="service-item">
        					<div class="service-icon">
        						<i class="fa fa-tasks fa-3x"></i>
        					</div>
        					<h3>Well Documented</h3>
        					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        				</div>
        			</div>

        			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
        				<div class="service-item">
        					<div class="service-icon">
        						<i class="fa fa-clock-o fa-3x"></i>
        					</div>
        					<h3>Design UI/UX</h3>
        					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        				</div>
        			</div>

        			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
        				<div class="service-item">
        					<div class="service-icon">
        						<i class="fa fa-heart fa-3x"></i>
        					</div>

        					<h3>Web Security</h3>
        					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        				</div>
        			</div>

        		</div>
        	</div>
        </section>
        <!-- end Service section -->

        <!-- Testimonial section -->
        <section id="testimonials" class="parallax">
        	<div class="overlay">
        		<div class="container">
        			<div class="row">

        				<div class="sec-title text-center white wow animated fadeInDown">
        					<h2>What people say</h2>
        				</div>

        				<div id="testimonial" class=" wow animated fadeInUp">
        					<div class="testimonial-item text-center">
        						<img src="/res/bluefree/img/member-1.jpg" alt="Our Clients">
        						<div class="clearfix">
        							<span>Katty Flower</span>
        							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        							cillum dolore eu fugiat nulla pariatur.</p>
        						</div>
        					</div>
        					<div class="testimonial-item text-center">
        						<img src="/res/bluefree/img/member-1.jpg" alt="Our Clients">
        						<div class="clearfix">
        							<span>Katty Flower</span>
        							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        							cillum dolore eu fugiat nulla pariatur.</p>
        						</div>
        					</div>
        					<div class="testimonial-item text-center">
        						<img src="/res/bluefree/img/member-1.jpg" alt="Our Clients"> <div class="clearfix">
        							<span>Katty Flower</span>
        							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        							cillum dolore eu fugiat nulla pariatur.</p>
        						</div>
        					</div>
        				</div>

        			</div>
        		</div>
        	</div>
        </section>
        <!-- end Testimonial section -->

        <!-- Price section -->
        <section id="price">
        	<div class="container">
        		<div class="row">

        			<div class="sec-title text-center wow animated fadeInDown">
        				<h2>Price</h2>
        				<p>Our price for your company</p>
        			</div>

        			<div class="col-md-4 wow animated fadeInUp">
        				<div class="price-table text-center">
        					<span>Silver</span>
        					<div class="value">
        						<span>$</span>
        						<span>24,35</span><br>
        						<span>month</span>
        					</div>
        					<ul>
        						<li>No Bonus Points</li>
        						<li>No Bonus Points</li>
        						<li>No Bonus Points</li>
        						<li>No Bonus Points</li>
        						<li><a href="#">sign up</a></li>
        					</ul>
        				</div>
        			</div>

        			<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
        				<div class="price-table featured text-center">
        					<span>Gold</span>
        					<div class="value">
        						<span>$</span>
        						<span>50,00</span><br>
        						<span>month</span>
        					</div>
        					<ul>
        						<li>Free Trial</li>
        						<li>Free Trial</li>
        						<li>Free Trial</li>
        						<li>Free Trial</li>
        						<li><a href="#">sign up</a></li>
        					</ul>
        				</div>
        			</div>

        			<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
        				<div class="price-table text-center">
        					<span>Diamond</span>
        					<div class="value">
        						<span>$</span>
        						<span>123,12</span><br>
        						<span>month</span>
        					</div>
        					<ul>
        						<li>All Bonus Points</li>
        						<li>All Bonus Points</li>
        						<li>All Bonus Points</li>
        						<li>All Bonus Points</li>
        						<li><a href="#">sign up</a></li>
        					</ul>
        				</div>
        			</div>

        		</div>
        	</div>
        </section>
        <!-- end Price section -->

        <!-- Social section -->
        <section id="social" class="parallax">
        	<div class="overlay">
        		<div class="container">
        			<div class="row">

        				<div class="sec-title text-center white wow animated fadeInDown">
        					<h2>FOLLOW US</h2>
        					<p>Beautifully simple follow buttons to help you get followers on</p>
        				</div>

        				<ul class="social-button">
        					<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
        					<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        					</li>
        					<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
        					</li>
        				</ul>

        			</div>
        		</div>
        	</div>
        </section>
        <!-- end Social section -->
    </main>

    <section class="buy-pro" style="padding: 100px 0;">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<div class="pro-block text-center"
    				style="padding: 40px 50px; background: white; box-shadow: 0px 2px 28px 0px #7777775e; border-radius: 5px;">
    				<h1 style="font-size: 25px; line-height: 1; font-weight: 600;">You have downloaded free version of <a
    					href="https://themefisher.com/products/blue-free-onepage-responsive-corporate-template/">Blue</a>.</h1>
    					<h5 style="padding: 10px 0 15px 0;">To get full access of this page please purchase the premium version</h5>
    					<h5 style="font-weight: 700;">Why Premium?</h5>
    					<ul class="list-unstyled" style="margin-bottom: 20px; ">
    						<li>Full Template Pack</li>
    						<li>Priority Support</li>
    						<li>Documentation Included</li>
    						<li>Monthly Update</li>
    						<li>Lifetime Download</li>
    						<li>Personal and commercial Use</li>
    						<li>One time payment</li>
    					</ul>
    					<a href="https://themefisher.com/products/blue-free-onepage-responsive-corporate-template/#download-area" target="_blank"
    					class="btn btn-primary"
    					style="margin-bottom: 20px; letter-spacing: 2px; font-weight: 700; padding: 16px 45px;">Get Premium
    				Version</a>
    				<p><strong>By purchasing the pro version you are actually helping us to contribute the whole community by
    				providing free templates.</strong></p>
    			</div>
    		</div>
    	</div>
    </section>

    <section id="contact" class="parallax">
    	<div class="overlay">
    		<div class="container">
    			<div class="row">
        			<div class="col-md-12 col-sm-6 col-xs-12 text-center wow animated zoomIn">
    					<h5>LEAVE A COMMENT</h5>
    					<form class="form-horizontal" role="form">
    						<div class="form-group">
    							<label for="inputname" class="col-sm-2 control-label">Name</label>
    							<div class="col-sm-10">
    								<input type="text" class="form-control" id="inputname" placeholder="Name">
    							</div>
    						</div>	<!-- End of /.form-group -->
    						<div class="form-group">
    							<label for="inputEmail" class="col-sm-2 control-label">Email</label>
    							<div class="col-sm-10">
    								<input type="email" class="form-control" id="inputEmail" placeholder="Email">
    							</div>
    						</div>	<!-- End of /.form-group -->
    						<div class="form-group">
    							<label for="inputwebsite" class="col-sm-2 control-label">Website</label>
    							<div class="col-sm-10">
    								<input type="text" class="form-control" id="inputwebsite" placeholder="Website">
    							</div>
    						</div>	<!-- End of /.form-group -->
    						<div class="form-group">
    							<label for="inputmessage" class="col-sm-2 control-label">Message</label>
    							<div class="col-sm-10">
    								<textarea class="form-control" id="inputmessage"  rows="3"></textarea>
    							</div>
    						</div>	<!-- End of /.form-group -->

    						<div class="form-group">
    							<div class="col-sm-offset-2 col-sm-10">
    								<button type="submit" class="btn btn-primary">Send</button>
    							</div>
    						</div>	<!-- End of /.form-group -->
    					</form>	<!-- End of /.form-horizontal -->
    				</div>	
    			</div>
    		</div>
    	</div>
    </section>

