
    <!--================================= HEADER-FORM-1 START =============================================-->
    <div class="container-fluid header-form-bgimage-1 bgimage-property parallax  header-section-space-form-1" id="home">
        <div class="container">
            <div class="col-md-12 column-center no-padding white-text">
                <div class="row">
                    <div class="col-md-7">
                        <div class="header-form-heading-top res-header-heading-bottom">
                            <p class="left header-head1 header-head1-bottom">Lead premium HTML Landing Page</p>

                            <p class="left header-text-bottom ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam</p>

                            <div class="left">
                                <a href="#">
                                    <div class="header-btn">read more</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="contact-div header-contact-form header-contact-bg">
                            <form class="contact-form" method="POST">
                                <div class="clearfix">
                                    <div class="header-form-heading-bg">
                                        <h4 class="center">register today to get upto 60% off</h4>
                                    </div>
                                    <div class="header-contact-bg-pad">
                                        <p class="left header-form-text ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam pharetra efficitur diam</p>
                                        <!--================= NAME INPUT BOX HERE ====================-->
                                        <div class="form-div form-bottom-1">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control form-text" type="text" name="name" value="" placeholder="Please Enter Name" required />
                                        </div>

                                        <!--================= EMAIL INPUT BOX HERE ====================-->
                                        <div class="form-div form-bottom-1">
                                            <i class="fa fa-envelope"></i>
                                            <input class="form-control form-text" type="email" name="email" value="" placeholder="Please Enter Email" required />
                                        </div>

                                        <!--================= PHONE-NUMBER INPUT BOX HERE ====================-->
                                        <div class="form-div phoneno-bottom error-div">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <input class="form-control form-text phoneno" name="phoneno" placeholder="Phone Number" autocomplete="off" type="text" onkeypress="return isNumber(event)" maxlength="10">
                                        </div>

                                        <p class="left note-text ls">*Note: Conditions Apply</p>

                                        <!--============= SUCESSS AND FAILURE MESSAGE DISPLAY HERE ========-->
                                        <div class="left form-error-top"> <span class="form-success sucessMessage"> </span> <span class="form-failure failMessage"> </span>
                                        </div>
                                    </div>

                                    <!--================= SUBMIT BUTTON HERE ====================-->
                                    <div>
                                        <input type="submit" class="submit-btn contact-form-submit" name="submit" value="REGISTER NOW">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--================================= HEADER-FORM-1 END =============================================-->

    <!--================================= OUR SERVICES START =============================================-->
    <section class="container-fluid section-space section-bg-1" id="services">
        <div class="container">
            <h1 class="center">our services</h1>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 common-full">
                    <div class="services-icon">
                        <img src="/res/site2/images/64x64x1.png" alt="icon" />
                    </div>
                    <div class="services-pad services-bottom">
                        <h3 class="left h3-bottom"><a href="#">design</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 common-full">
                    <div class="services-icon">
                        <img src="/res/site2/images/64x64x2.png" alt="icon" />
                    </div>
                    <div class="services-pad services-bottom">
                        <h3 class="left h3-bottom"><a href="#"> development </a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 common-full">
                    <div class="services-icon">
                        <img src="/res/site2/images/64x64x3.png" alt="icon" />
                    </div>
                    <div class="services-pad services-bottom">
                        <h3 class="left h3-bottom"><a href="#">app</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 common-full">
                    <div class="services-icon">
                        <img src="/res/site2/images/64x64x4.png" alt="icon" />
                    </div>
                    <div class="services-pad res-services-bottom services-res-bottom">
                        <h3 class="left h3-bottom"><a href="#">easy</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 common-full">
                    <div class="services-icon">
                        <img src="/res/site2/images/64x64x5.png" alt="icon" />
                    </div>
                    <div class="services-pad services-res-bottom">
                        <h3 class="left h3-bottom"><a href="#">modern</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 common-full">
                    <div class="services-icon">
                        <img src="/res/site2/images/64x64x6.png" alt="icon" />
                    </div>
                    <div class="services-pad">
                        <h3 class="left h3-bottom"><a href="#">support</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================= OUR SERVICES END =============================================-->

    <!--================================= OUR ENVIRONMENT START =============================================-->
    <section class="container-fluid section-space section-bg-2">
        <div class="container">
            <h1 class="center">our environment</h1>
            <div class="row">
                <div class="col-md-4 col-sm-4 common-res-bottom-1">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x1.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">clean</a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin </p>
                </div>

                <div class="col-md-4 col-sm-4 common-res-bottom-1">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x2.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">modern </a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin </p>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x3.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">responsive</a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin</p>
                </div>

            </div>
        </div>
    </section>
    <!--================================= OUR ENVIRONMENT END =============================================-->

    <!--================================= OUR AWESOME SERVICES START =============================================-->
    <section class="container-fluid section-space section-bg-1">
        <div class="container">
            <h1 class="center">our awesome services</h1>
            <div class="row">
                <!--=============== COLUMN-1 ==================-->
                <div class="col-md-4 res-services-center common-res-bottom common-res-bottom-1">
                    <div class="services-row-space">
                        <div class="right image-bottom res-text-center-single">
                            <img src="/res/site2/images/64x64x15.png" alt="icon" />
                        </div>
                        <h3 class="right h3-bottom"><a href="#">template design</a></h3>
                        <p class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit.</p>
                    </div>

                    <div class="services-row-space">
                        <div class="right image-bottom res-text-center-single">
                            <img src="/res/site2/images/64x64x16.png" alt="icon" />
                        </div>
                        <h3 class="right h3-bottom"><a href="#">development</a></h3>
                        <p class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit.</p>
                    </div>

                    <div class="services-row-space">
                        <div class="right image-bottom res-text-center-single">
                            <img src="/res/site2/images/64x64x17.png" alt="icon" />
                        </div>
                        <h3 class="right h3-bottom"><a href="#">24/7 support</a></h3>
                        <p class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium</p>
                    </div>
                </div>


                <!--=============== COLUMN-2 ==================-->
                <div class="col-md-4 common-res-bottom common-res-bottom-1">
                    <div class="center">
                        <img src="/res/site2/images/370x715.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                </div>

                <!--=============== COLUMN-3 ==================-->
                <div class="col-md-4 res-services-center">
                    <div class="services-row-space">
                        <div class="left image-bottom res-text-center-single">
                            <img src="/res/site2/images/64x64x18.png" alt="icon" />
                        </div>
                        <h3 class="left h3-bottom"><a href="#">email design</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit.</p>
                    </div>

                    <div class="services-row-space">
                        <div class="left image-bottom res-text-center-single">
                            <img src="/res/site2/images/64x64x19.png" alt="icon" />
                        </div>
                        <h3 class="left h3-bottom"><a href="#">app development</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit.</p>
                    </div>

                    <div class="services-row-space">
                        <div class="left image-bottom res-text-center-single">
                            <img src="/res/site2/images/64x64x20.png" alt="icon" />
                        </div>
                        <h3 class="left h3-bottom"><a href="#">branding</a></h3>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================================= OUR AWESOME SERVICES END =============================================-->

    <!--================================= CREATIVE TEMPLATE START =============================================-->
    <section class="container-fluid section-space section-bg-2">
        <div class="container">
            <div class="row res-text-center-1">
                <div class="col-md-3 col-sm-6 common-res-bottom">
                    <div class="center res-image-bottom-1">
                        <img src="/res/site2/images/300x300x1.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 common-res-bottom common-res-bottom-1">
                    <h2 class="left h2-bottom"><a href="#">creative template</a></h2>
                    <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend</p>

                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend</p>

                </div>

                <div class="col-md-3 col-sm-6 res-clear">
                    <div class="center res-image-bottom-1">
                        <img src="/res/site2/images/300x300x2.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h2 class="left h2-bottom"><a href="#">fresh template</a></h2>
                    <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend</p>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend</p>
                </div>
            </div>
        </div>
    </section>
    <!--================================= CREATIVE TEMPLATE END =============================================-->

    <!--================================= COUNTER START =============================================-->
    <div class="container-fluid counter-bgimage bgimage-property parallax  counter-section-space">
        <div class="container">
            <div class="row white-text">
                <div class="col-md-3 col-sm-3 col-xs-6 counter-res-bottom common-full-1">
                    <div class="center image-bottom">
                        <img src="/res/site2/images/64x64x7.png" alt="icon" />
                    </div>
                    <p class="center counter-num count ls">3100</p>
                    <p class="center counter-sub ls">PROJECTS </p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6 counter-res-bottom common-full-1">
                    <div class="center image-bottom">
                        <img src="/res/site2/images/64x64x8.png" alt="icon" />
                    </div>
                    <p class="center counter-num count ls">4578</p>
                    <p class="center counter-sub ls">CLIENTS</p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6 common-full-1 counter-res-bottom-1">
                    <div class="center image-bottom">
                        <img src="/res/site2/images/64x64x9.png" alt="icon" />
                    </div>
                    <p class="center counter-num count ls">7548 </p>
                    <p class="center counter-sub ls">LIKES</p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6 common-full-1">
                    <div class="center image-bottom">
                        <img src="/res/site2/images/64x64x10.png" alt="icon" />
                    </div>
                    <p class="center counter-num count ls">507</p>
                    <p class="center counter-sub ls">AWARDS </p>
                </div>
            </div>
        </div>
    </div>
    <!--================================= COUNTER END =============================================-->

    <!--================================= WHAT WE DO START =============================================-->
    <section class="container-fluid section-space section-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="left res-image-bottom res-image-bottom-1">
                        <img src="/res/site2/images/750x470.jpg" alt="image" class="img-responsive" />
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div>
                        <h2 class="left h2-bottom"><a href="#">what we do</a></h2>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat</p>

                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat</p>

                        <div class="distab list-bottom list-top">
                            <div class="left distab-cell-middle">
                                <img src="/res/site2/images/24x24x1.png" alt="icon" />
                            </div>
                            <div class="left distab-cell-middle what-left-pad">
                                <p class="left what-list ls">Experienced Solutions</p>
                            </div>
                        </div>

                        <div class="distab list-bottom">
                            <div class="left distab-cell-middle">
                                <img src="/res/site2/images/24x24x2.png" alt="icon" />
                            </div>
                            <div class="left distab-cell-middle what-left-pad">
                                <p class="left what-list ls">Marketing And Branding</p>
                            </div>
                        </div>

                        <div class="distab list-bottom">
                            <div class="left distab-cell-middle">
                                <img src="/res/site2/images/24x24x3.png" alt="icon" />
                            </div>
                            <div class="left distab-cell-middle what-left-pad">
                                <p class="left what-list ls">Best Support</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================================= WHAT WE DO END =============================================-->

    <!--================================= GALLERY START =============================================-->
    <section class="container-fluid section-space section-bg-2" id="gallery">
        <div class="container">
            <h1 class="center">gallery</h1>
            <div id="grid" class="row effects">
                <figure class="col-sm-4 col-xs-6 gallery-image-lr gallery-row-bottom light-box">
                    <div class="img">
                        <img alt="portfolio-2" src="/res/site2/images/750x500x4.jpg" />
                        <div class="overlay">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <ul class="center no-padding no-margin">
                                            <li>
                                                <a href="/res/site2/images/750x500x4.jpg" class="expand extend-icon" data-title="Portfolio One" data-toggle="lightbox" data-gallery="navigateTo"><i class="fa fa-search gallery-fa"></i></a>
                                                <a href="#" class="expand extend-icon-two"><i class="fa fa-chain-broken gallery-fa gallery-fa-pad-left"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

                <figure class="col-sm-4 col-xs-6 gallery-image-lr gallery-row-bottom light-box">
                    <div class="img">
                        <img alt="portfolio-2" src="/res/site2/images/750x500x5.jpg" />
                        <div class="overlay">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <ul class="center no-padding no-margin">
                                            <li>
                                                <a href="/res/site2/images/750x500x5.jpg" class="expand extend-icon" data-title="Portfolio Two" data-toggle="lightbox" data-gallery="navigateTo"><i class="fa fa-search gallery-fa"></i></a>
                                                <a href="#" class="expand extend-icon-two"><i class="fa fa-chain-broken gallery-fa gallery-fa-pad-left"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

                <figure class="col-sm-4 col-xs-6 gallery-image-lr gallery-row-bottom light-box">
                    <div class="img">
                        <img alt="portfolio-2" src="/res/site2/images/750x500x6.jpg" />
                        <div class="overlay">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <ul class="center no-padding no-margin">
                                            <li>
                                                <a href="/res/site2/images/750x500x6.jpg" class="expand extend-icon" data-title="Portfolio Three" data-toggle="lightbox" data-gallery="navigateTo"><i class="fa fa-search gallery-fa"></i></a>
                                                <a href="#" class="expand extend-icon-two"><i class="fa fa-chain-broken gallery-fa gallery-fa-pad-left"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

                <figure class="col-sm-4 col-xs-6 gallery-image-lr res-gallery-row-bottom light-box">
                    <div class="img">
                        <img alt="portfolio-2" src="/res/site2/images/750x500x7.jpg" />
                        <div class="overlay">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <ul class="center no-padding no-margin">
                                            <li>
                                                <a href="/res/site2/images/750x500x7.jpg" class="expand extend-icon" data-title="Portfolio Four" data-toggle="lightbox" data-gallery="navigateTo"><i class="fa fa-search gallery-fa"></i></a>
                                                <a href="#" class="expand extend-icon-two"><i class="fa fa-chain-broken gallery-fa gallery-fa-pad-left"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

                <figure class="col-sm-4 col-xs-6 gallery-image-lr light-box res-gallery-bottom">
                    <div class="img">
                        <img alt="portfolio-2" src="/res/site2/images/750x500x8.jpg" />
                        <div class="overlay">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <ul class="center no-padding no-margin">
                                            <li>
                                                <a href="/res/site2/images/750x500x8.jpg" class="expand extend-icon" data-title="Portfolio Five" data-toggle="lightbox" data-gallery="navigateTo"><i class="fa fa-search gallery-fa"></i></a>
                                                <a href="#" class="expand extend-icon-two"><i class="fa fa-chain-broken gallery-fa gallery-fa-pad-left"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

                <figure class="col-sm-4 col-xs-6 gallery-image-lr light-box">
                    <div class="img">
                        <img alt="portfolio-2" src="/res/site2/images/750x500x9.jpg" />
                        <div class="overlay">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <ul class="center no-padding no-margin">
                                            <li>
                                                <a href="/res/site2/images/750x500x9.jpg" class="expand extend-icon" data-title="Portfolio Six" data-toggle="lightbox" data-gallery="navigateTo"><i class="fa fa-search gallery-fa"></i></a>
                                                <a href="#" class="expand extend-icon-two"><i class="fa fa-chain-broken gallery-fa gallery-fa-pad-left"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

            </div>
        </div>
    </section>
    <!--================================= GALLERY END =============================================-->

    <!--================================= MARKET ANALYSIS START =============================================-->
    <section class="container-fluid section-space section-bg-1">
        <div class="container analysis-row-space">
            <h1 class="center">market analysis</h1>
            <!--=============== ROW-1 ==================-->
            <div class="row">
                <div class="center col-md-10 column-center no-padding res-width-full">
                    <div class="col-md-6 res-image-bottom res-image-bottom-1">
                        <div class="center">
                            <img src="/res/site2/images/750x410x1.jpg" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="left h3-bottom">Heading content</h3>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida</p>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit</p>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--=============== ROW-2 ==================-->
            <div class="row">
                <div class="center col-md-10 column-center no-padding res-width-full">
                    <div class="col-md-6 res-image-bottom res-image-bottom-1">
                        <div class="center">
                            <img src="/res/site2/images/750x410x2.jpg" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="left h3-bottom">Heading content</h3>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida</p>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit</p>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <!--=============== ROW-3 ==================-->
            <div class="row">
                <div class="center col-md-10 column-center no-padding res-width-full">
                    <div class="col-md-6 res-image-bottom res-image-bottom-1">
                        <div class="center">
                            <img src="/res/site2/images/750x410x3.jpg" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="left h3-bottom">Heading content</h3>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida</p>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit</p>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================= MARKET ANALYSIS END =============================================-->

    <!--================================= LATEST NEWS START =============================================-->
    <section class="container-fluid section-space section-bg-2">
        <div class="container">
            <h1 class="center">latest news</h1>
            <div class="row">
                <div class="col-md-3 col-sm-6 common-res-bottom common-res-bottom-1">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x10.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">heading</a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam </p>
                </div>

                <div class="col-md-3 col-sm-6 common-res-bottom common-res-bottom-1">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x11.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">heading</a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam </p>
                </div>

                <div class="col-md-3 col-sm-6 common-res-bottom-1">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x12.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">heading</a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam </p>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="left image-bottom">
                        <img src="/res/site2/images/750x500x13.jpg" alt="image" class="img-responsive" />
                    </div>
                    <h3 class="left h3-bottom"><a href="#">heading</a></h3>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam </p>
                </div>

            </div>
        </div>
    </section>
    <!--================================= LATEST NEWS END =============================================-->

    <!--================================= FREQUENTLY ASKED QUESTIONS START =============================================-->
    <section class="container-fluid section-space section-bg-1">
        <div class="container">
            <h1 class="center">frequently asked questions</h1>
            <div class="row faq-row faq-white-text">
                <div class="col-md-6 col-sm-6 faq-res-bottom">
                    <div class="faq-col">
                        <div class="faq-row-bottom">
                            <div class="faq-title faq-bg">
                                <div class="distab faq-bg-width">
                                    <h3 class="faq-heading distab-cell-middle">Lorem ipsum dolor sit amet, consectetur?
									</h3>
                                    <p class="down-arrow down-arrow-left distab-cell-middle"></p>
                                </div>
                            </div>
                            <p class="faq-ans faq-answer-pad faq-answer-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam.
                            </p>
                        </div>

                        <div class="faq-row-bottom">
                            <div class="faq-title faq-bg">
                                <div class="distab faq-bg-width">
                                    <h3 class="faq-heading distab-cell-middle">Nam pharetra efficitur diam, vel?
									</h3>
                                    <p class="down-arrow down-arrow-left distab-cell-middle"></p>
                                </div>
                            </div>
                            <p class="faq-ans faq-answer-pad faq-answer-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam.
                            </p>
                        </div>

                        <div class="faq-row-bottom">
                            <div class="faq-title faq-bg">
                                <div class="distab faq-bg-width">
                                    <h3 class="faq-heading distab-cell-middle"> Curabitur eleifend, risus id sollicitudin?
									</h3>
                                    <p class="down-arrow down-arrow-left distab-cell-middle"></p>
                                </div>
                            </div>
                            <p class="faq-ans faq-answer-pad faq-answer-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="faq-col">
                        <div class="faq-row-bottom">
                            <div class="faq-title faq-bg">
                                <div class="distab faq-bg-width">
                                    <h3 class="faq-heading distab-cell-middle">Lorem ipsum dolor sit amet, consectetur?
									</h3>
                                    <p class="down-arrow down-arrow-left distab-cell-middle"></p>
                                </div>
                            </div>
                            <p class="faq-ans faq-answer-pad faq-answer-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam.
                            </p>
                        </div>

                        <div class="faq-row-bottom">
                            <div class="faq-title faq-bg">
                                <div class="distab faq-bg-width">
                                    <h3 class="faq-heading distab-cell-middle"> Nam pharetra efficitur diam, vel? 
									</h3>
                                    <p class="down-arrow down-arrow-left distab-cell-middle"></p>
                                </div>
                            </div>
                            <p class="faq-ans faq-answer-pad faq-answer-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam.
                            </p>
                        </div>

                        <div class="faq-row-bottom">
                            <div class="faq-title faq-bg">
                                <div class="distab faq-bg-width">
                                    <h3 class="faq-heading distab-cell-middle">Curabitur eleifend, risus id sollicitudin? 
									</h3>
                                    <p class="down-arrow down-arrow-left distab-cell-middle"></p>
                                </div>
                            </div>
                            <p class="faq-ans faq-answer-pad faq-answer-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================================= FREQUENTLY ASKED QUESTIONS END =============================================-->

    <!--================================= PRICE TABLE START =============================================-->
    <section class="container-fluid section-space section-bg-2" id="price">
        <div class="container">
            <h1 class="center">price table</h1>
            <div class="row">
                <!--=============== COLUMN-1 ==================-->
                <div class="col-md-4 col-sm-4 price-fixed price-res-bottom">
                    <div class="pricig-br price-bgcolor-1">
                        <h3 class="center price-head-pad">basic </h3>
                        <div class="price-pos-rel">
                            <div class="pricig-uline">
                            </div>
                            <div class="pricig-uline price-pos-abs"></div>
                        </div>
                        <div class="price-body-pad">
                            <p class="center price-tag"><span class="dollor">$</span>24<span class="month">/month</span>
                            </p>
                            <div class="price-list-bottom">
                                <p class="center ls">Lorem ipsum dolor elit </p>
                                <p class="center ls">Consectetur adipiscing ipsum </p>
                                <p class="center ls">Nam pharetra efficitur </p>
                                <p class="center ls">vel sagittis ipsum nisi</p>
                                <p class="center ls">Curabitur eleifend</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=============== COLUMN-2 ==================-->
                <div class="col-md-4 col-sm-4  price-fixed price-res-bottom">
                    <div class="pricig-br price-bgcolor-2 white-text">
                        <h3 class="center price-head-pad">standard </h3>
                        <div class="price-pos-rel">
                            <div class="pricig-uline pricig-uline-white">
                            </div>
                            <div class="pricig-uline pricig-uline-white price-pos-abs"></div>
                        </div>

                        <div class="price-body-pad">
                            <p class="center price-tag"><span class="dollor">$</span>56<span class="month">/month</span>
                            </p>
                            <div class="price-list-bottom">
                                <p class="center ls">Lorem ipsum dolor elit </p>
                                <p class="center ls">Consectetur adipiscing ipsum </p>
                                <p class="center ls">Nam pharetra efficitur </p>
                                <p class="center ls">vel sagittis ipsum nisi</p>
                                <p class="center ls">Curabitur eleifend</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!--=============== COLUMN-3 ==================-->
                <div class="col-md-4 col-sm-4 price-fixed">
                    <div class="pricig-br price-bgcolor-1">
                        <h3 class="center price-head-pad">premium </h3>
                        <div class="price-pos-rel">
                            <div class="pricig-uline">
                            </div>
                            <div class="pricig-uline price-pos-abs"></div>
                        </div>
                        <div class="price-body-pad">
                            <p class="center price-tag"><span class="dollor">$</span>85<span class="month">/month</span>
                            </p>
                            <div class="price-list-bottom">
                                <p class="center ls">Lorem ipsum dolor elit </p>
                                <p class="center ls">Consectetur adipiscing ipsum </p>
                                <p class="center ls">Nam pharetra efficitur </p>
                                <p class="center ls">vel sagittis ipsum nisi</p>
                                <p class="center ls">Curabitur eleifend</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center btn-top">
                <a href="#">
                    <div class="btn-1">MORE PLAN</div>
                </a>
            </div>
        </div>
    </section>
    <!--================================= PRICE TABLE END =============================================-->

    <!--================================= BUILDER START =============================================-->
    <section class="container-fluid section-bg-1 no-padding">
        <div class="builder-bgimage bgimage-property builder-bgimage-height">
        </div>
        <div class="container">
            <div class="builder-bgimage-pad">
                <div class="row">
                    <div class="col-md-6 builder-content-height">

                    </div>
                    <div class="col-md-6 builder-content-height builder-content-pad">
                        <div class="distab why-row-bottom">
                            <div class="distab-cell-top">
                                <img src="/res/site2/images/64x64x11.png" alt="icon" />
                            </div>
                            <div class="distab-cell why-content-pad">
                                <h3 class="left h3-bottom"><a href="#">design </a></h3>
                                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.</p>
                            </div>
                        </div>

                        <div class="distab why-row-bottom">
                            <div class="distab-cell-top">
                                <img src="/res/site2/images/64x64x12.png" alt="icon" />
                            </div>
                            <div class="distab-cell why-content-pad">
                                <h3 class="left h3-bottom"><a href="#">development </a></h3>
                                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.</p>
                            </div>
                        </div>

                        <div class="distab why-row-bottom">
                            <div class="distab-cell-top">
                                <img src="/res/site2/images/64x64x13.png" alt="icon" />
                            </div>
                            <div class="distab-cell why-content-pad">
                                <h3 class="left h3-bottom"><a href="#">modern </a></h3>
                                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.</p>
                            </div>
                        </div>

                        <div class="distab">
                            <div class="distab-cell-top">
                                <img src="/res/site2/images/64x64x14.png" alt="icon" />
                            </div>
                            <div class="distab-cell why-content-pad">
                                <h3 class="left h3-bottom"><a href="#">support </a></h3>
                                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--================================= BUILDER END =============================================-->

    <!--================================= OUR TEAM START =============================================-->
    <section class="container-fluid section-space section-bg-2">
        <div class="container">
            <h1 class="center">our team</h1>
            <div class="row">
                <!--==========  COLUMN-1 ===============-->
                <div class="col-md-3 col-sm-3 col-xs-6 common-res-bottom-1 common-full-1">
                    <div class="image-bottom">
                        <img src="/res/site2/images/400x500x1.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                    <p class="center teambg-author ls">MARIAH ALCORN</p>
                    <p class="center teambg-design ls">DESIGNER </p>
                </div>

                <!--==========  COLUMN-2 ===============-->
                <div class="col-md-3 col-sm-3 col-xs-6 common-res-bottom-1 common-full-1">
                    <div class="image-bottom">
                        <img src="/res/site2/images/400x500x2.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                    <p class="center teambg-author ls">ARMANDO CASLER </p>
                    <p class="center teambg-design ls">DEVELOPER </p>
                </div>

                <!--==========  COLUMN-3 ===============-->
                <div class="col-md-3 col-sm-3 col-xs-6 common-full-1 team-res-bottom">
                    <div class="image-bottom">
                        <img src="/res/site2/images/400x500x3.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                    <p class="center teambg-author ls">EMMIE DOUCETTE </p>
                    <p class="center teambg-design ls">MANAGER </p>
                </div>

                <!--==========  COLUMN-4 ===============-->
                <div class="col-md-3 col-sm-3 col-xs-6 common-full-1">
                    <div class="image-bottom">
                        <img src="/res/site2/images/400x500x4.png" alt="image" class="img-responsive image-center image-grow" />
                    </div>
                    <p class="center teambg-author ls">BECKY WHEELESS</p>
                    <p class="center teambg-design ls">CEO </p>
                </div>
            </div>
        </div>
    </section>
    <!--================================= OUR TEAM END =============================================-->

    <!--================================= TWO-COLUMN-SECTION START =============================================-->
    <section class="container-fluid section-bg-1 no-padding">
        <div class="two-column-bgimage-1 bgimage-property two-column-bgimage-1-height">
        </div>
        <div class="two-column-bgimage-pad-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 two-column-content-height">

                    </div>
                    <div class="col-md-6 two-column-content-height content-pad-1">
                        <h2 class="left h2-bottom"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum</p>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-column-bgimage-2 bgimage-property two-column-bgimage-2-height">
        </div>
        <div class="two-column-bgimage-pad-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 two-column-content-height content-pad-1">
                        <h2 class="left h2-bottom"><a href="#">Lorem ipsum dolor sit amet</a></h2>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum</p>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum</p>
                    </div>
                    <div class="col-md-6 two-column-content-height">

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--================================= TWO-COLUMN-SECTION END =============================================-->


    <!--================================= LATEST BLOG START =============================================-->
    <section class="container-fluid section-space section-bg-2">
        <div class="container">
            <h1 class="center">latest blog</h1>
            <!--=============== ROW-1 ==================-->
            <div class="row blog-row-bottom blog-link-top">
                <div class="col-md-3 col-sm-3">
                    <div class="left res-image-bottom-1">
                        <img src="/res/site2/images/750x500x14.jpg" alt="image" class="img-responsive" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 common-res-bottom-1">
                    <div class="blog-heading-top">
                        <h3 class="left">Nam pharetra efficitur</h3>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="left res-image-bottom-1">
                        <img src="/res/site2/images/750x500x15.jpg" alt="image" class="img-responsive" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="blog-heading-top">
                        <h3 class="left">Nam pharetra efficitur</h3>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!--=============== ROW-2 ==================-->
            <div class="row blog-row-bottom blog-link-top">
                <div class="col-md-3 col-sm-3">
                    <div class="left res-image-bottom-1">
                        <img src="/res/site2/images/750x500x16.jpg" alt="image" class="img-responsive" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 common-res-bottom-1">
                    <div class="blog-heading-top">
                        <h3 class="left">Nam pharetra efficitur</h3>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="left res-image-bottom-1">
                        <img src="/res/site2/images/750x500x17.jpg" alt="image" class="img-responsive" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="blog-heading-top">
                        <h3 class="left">Nam pharetra efficitur</h3>
                        <div class="distab link-top">
                            <a href="#">
                                <div class="left distab-cell-middle">
                                    <p class="left link ls">read more</p>
                                </div>
                                <div class="left distab-cell-middle link-icon-left">
                                    <img src="/res/site2/images/link_icon.png" alt="icon" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================================= LATEST BLOG END =============================================-->

    <!--================================= PROMOTIONAL VIDEO START =============================================-->
    <section class="container-fluid section-space section-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 column-center no-padding">
                    <div class="col-md-6 col-md-push-6 res-image-bottom res-image-bottom-1">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="/res/site2/https://www.youtube.com/embed/Eif3UTNhB0A?rel=0"></iframe>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-pull-6">
                        <h2 class="left h2-bottom"><a href="#">promotional video</a></h2>
                        <p class="left p-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida</p>
                        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================================= PROMOTIONAL VIDEO END =============================================-->

    <!--================================= EMAIL SUBSCRIPTION START =============================================-->
    <div class="container-fluid subscription-bgimage bgimage-property parallax  subscription-section-space white-text">
        <div class="container">
            <div class="col-md-10 column-center no-padding">
                <p class="center bgimage-head bgimage-head-bottom ls">email subscription</p>
                <div class="col-md-8 column-center no-padding res-width-full">
                    <p class="center email-text-bottom ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin</p>
                </div>
                <div id="mc_embed_signup">
                    <div class="col-md-5 col-sm-6 col-xs-8 column-center no-padding">
                        <div class="form-top">
                            <!--================= YOUR MAILCHIMP ACCOUNT URL HERE ====================-->
                            <form class="subscribe_form" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="http://evethemes.us11.list-manage.com/subscribe/post?u=a795532c55a578843e04b09c0&amp;id=fa362f029a" novalidate>
                                <!--================= EMAIL INPUT BOX HERE ====================-->
                                <div class="clearfix">
                                    <input class="form-control place_error" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Your Mail (required)" />
                                </div>

                                <!--================= SUBSCRIBE BUTTON HERE ====================-->
                                <div class="center btn-top">
                                    <input type="submit" id="mc-embedded-subscribe" class="btn-1 btn-ant" name="submit" value="SUBSCRIBE">
                                </div>

                                <!--================= SUCCESS AND FAILURE MESSAGE HERE =================-->
                                <div class="center indicator-top" id="ResultMsg"><span id="SuccessMsg" class="email-success"></span><span id="FailureMsg" class="email-failure"></span>
                                </div>

                                <div id="mce-responses">
                                    <div class="response response-msg" id="mce-error-response"></div>
                                    <div class="response response-msg" id="mce-success-response"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================================= EMAIL SUBSCRIPTION END =============================================-->


    <!--================================= TESTIMONIAL START =============================================-->
    <section class="container-fluid section-space section-bg-1 testimonial-indicator">
        <div class="container">
            <h1 class="center">testimonial</h1>
            <div id="owl-demo1" class="owl-carousel owl-theme no-margin no-padding">
                <div class="item">
                    <div class="center quote-bottom">
                        <img src="/res/site2/images/quote.png" alt="quote" class="image-center" />
                    </div>
                    <div class="col-md-8 column-center no-padding">
                        <p class="center p-bottom testimonial-text ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum.</p>
                    </div>
                    <div class="distab image-center">
                        <div class="distab-cell-middle">
                            <img src="/res/site2/images/80x80x1.png" alt="image" class="image-center" />
                        </div>
                        <div class="distab-cell-middle testimonial-author-pad">
                            <p class="left testimonial-author ls">Lorem ipsum</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="center quote-bottom">
                        <img src="/res/site2/images/quote.png" alt="quote" class="image-center" />
                    </div>
                    <div class="col-md-8 column-center no-padding">
                        <p class="center p-bottom testimonial-text ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum.</p>
                    </div>
                    <div class="distab image-center">
                        <div class="distab-cell-middle">
                            <img src="/res/site2/images/80x80x2.png" alt="image" class="image-center" />
                        </div>
                        <div class="distab-cell-middle testimonial-author-pad">
                            <p class="left testimonial-author ls">Lorem ipsum</p>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="center quote-bottom">
                        <img src="/res/site2/images/quote.png" alt="quote" class="image-center" />
                    </div>
                    <div class="col-md-8 column-center no-padding">
                        <p class="center p-bottom testimonial-text ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum. Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui tellus in quam. Aliquam fringilla eros et est gravida, eget porttitor velit rutrum.</p>
                    </div>
                    <div class="distab image-center">
                        <div class="distab-cell-middle">
                            <img src="/res/site2/images/80x80x3.png" alt="image" class="image-center" />
                        </div>
                        <div class="distab-cell-middle testimonial-author-pad">
                            <p class="left testimonial-author ls">Lorem ipsum</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================================= TESTIMONIAL END =============================================-->

    <!--================================= FOOTER-MAP START =============================================-->
    <section class="container-fluid section-space section-bg-2" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 common-res-bottom-1">
                    <iframe class="venue-map" src="/res/site2/https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988853.8283661404!2d-109.79819478383385!3d42.98243242389649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875ee23448e12e69%3A0x26b02279d27d382f!2sWyoming%2C+USA!5e0!3m2!1sen!2sin!4v1444977908624"></iframe>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h3 class="center h3-bottom">address</h3>
                    <p class="center ls adress-line-bottom">647 Pound Second Hill Road, North Smithfield, </p>
                    <p class="center footer-row-space ls">SD 54684, New York, USA </p>

                    <h3 class="center h3-bottom">Email </h3>
                    <p class="center footer-row-space ls"> <a href="#">emailid@domain.com</a>
                    </p>

                    <h3 class="center h3-bottom">phone no</h3>
                    <p class="center footer-row-space ls">+455 745 5486, +152 457 5648</p>

                    <h3 class="center follow-heading-bottom">follow us</h3>
                    <div class="center">
                        <ul class="no-padding no-margin footer-icon footer-left-pad">
                            <li>
                                <a href="#">
                                    <img src="/res/site2/images/48x48x5.png" alt="icon" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/res/site2/images/48x48x6.png" alt="icon" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/res/site2/images/48x48x7.png" alt="icon" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/res/site2/images/48x48x8.png" alt="icon" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="footer-br footer-br-bottom"></div>
            <p class="center ls">&copy; 2017, All Rights Reserved</p>
        </div>
    </section>
    <!--================================= FOOTER-MAP END =============================================-->
